*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}
.contacto{
      display: flex;
      flex-direction: row;
      /* justify-content: center; */
      /* align-items: center; */

      width: 100%;
      height: 700px;

      background-color: #3b3b3b;
}
.info{
      width: 50%;
      padding: 200px 0 0 150px;

      background-color: #F4f4f4f4;
}

.img-contact{
      font-family: 'Courier New', Courier, monospace;
      color: #3b3b3b;
      font-size: 25px;

      display:flex;
      flex-direction: row;
      align-items: center;

      margin-bottom: 30px;
}
.img-contact > img{
      width: 40px;
      height: auto;

      margin-right: 20px
}

/* -------------------------------------------------------------- */

.formulario{
      width: 50%;
      padding: 0 0 0 200px;
}
.formSub{
      justify-content:center;
      margin-top: 200px;
}
.formGroup{
      display: flex;
      flex-direction: column !important;
      width: 90%;
}
.formControl{
      width: 400px;
      margin-bottom: 30px;

      border-radius: 0 !important;
      border: solid 1px #fff;
}
.btnSend{
      width: 200px !important;

      border: none !important;
      background-color: #000 !important;


      border-radius: 1px !important;
}

/* responsive */

/* PC - Laptop */
@media screen and (min-width: 1920px) {
      .social-2{
            display: none;
      }
}
@media only screen and (min-width: 1920px) and (max-width: 2359) {
      .social-2{
            display: none;
      }
}

@media only screen and (min-width: 1360px) and (max-width: 1919px) {
      .formulario{
            padding-left: 50px;
      }
      .social-2{
            display: none;
      }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1359px) {
      social-2{
            display: none;
      }
      .contacto{
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            height: auto;
      }
      .info{
            width: 100%;
            padding: 200px 0 0 150px;

            background-color: #F4f4f4f4;
      }
      .formulario{
            width: 100%;
            height: 700px;
            padding: 0 0 0 100px;
      }
      .info{
            display: none;
      }
      .social-2{
            width: 100%;
      }
}

/* Smartphone */
@media (max-width: 767px) {
      .social-2{
            display: none;
      }
      .contacto{
            height: auto;
      }
      .formulario{
            width: 100%;
            height: 600px;
            padding: 0 0 0 60px;
            margin-top: 0 !important;
      }
      .formSub{
            justify-content:center;
            margin-top: 100px;
      }
      .formContact{
            width: 60% ;
      }
      .info{
            display: none;
      }

}