* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mySkills {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  width: 100%;
  height: auto;

  background-color: var(--bg1);
}
.title-2 {
  font-family: var(--title);
  color: var(--primary);
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  margin: 80px 0 20px 0;
}
.name {
  margin-bottom: -20px;
}
.subTitle {
  font-family: "Courier New", Courier, monospace;
  color: var(--primary);
  font-size: 25px;
  text-align: center;
  padding: 0 80px;
}
.skills {
  width: 90%;
  height: auto;
  margin: 50px 30px;
  padding: 15px 15px;

  position: relative;
  /* background-color: var(--bg2); */
}
.category{
  width: 100%;
  /* background-color: var(--primary); */
  display: flex;
  flex-direction:column;

  margin-bottom: 40px;
}
.category > label{
  font-family: var(--title_1);
  font-size: 20px;
  color: var(--primary);
}
.imgSkill{
  width: 50px;
  height: 50px;
}
.skill {
  width: auto;
  height: auto;

  /* background-color: #cecece; */

  margin: 15px 15px;
  display: inline-block;
}

/* responsive */

/* Desktop X - XL */
@media screen and (min-width: 2560px) {
}
@media only screen and (min-width: 1920px) and (max-width:2559px){
}

/* Laptop M - L */
@media only screen and (min-width: 1024px) and (max-width: 1919px){
  .title-2{
    font-size: 40px;
  }
  .subTitle {
    font-size: 18px;
    text-align: center;
    padding: 0 80px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .title-2 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .name {
    margin-bottom: -10px;
  }
  .subTitle {
    font-size: 14px;
    text-align: center;
    padding: 0 80px;
  }
  .skills {
    margin: 0 0 30px 0;
  }
  .skill{
    width: 80px;
    height: 80px;
  }
}

/* Smartphone */
@media (max-width: 767px) {
  .title-2 {
    font-size: 16px;
    padding: 0 20px;
    margin-bottom: 1px;
  }
  .name {
    margin-bottom: -7px;
  }
  .subTitle {
    font-size: 12px;
    text-align: justify;
    padding: 0 30px;
  }
  .skill{
    width: 60px;
    height: 60px;
  }
}
